In [83]:
pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scikit-surprise in c:\users\jdev\appdata\roaming\python\python310\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.23.5)
Requirement already satisfied: joblib>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.10.0)

In [84]:
from collections import defaultdict

import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import surprise as sp
from sklearn.model_selection import train_test_split

In [85]:
# importar data
ratings_set = pd.read_csv('./dataset/rating.csv')
display(ratings_set)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [86]:
ratings_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [87]:
ratings_set.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [88]:
movies_set = pd.read_csv('./dataset/movie.csv')
display(movies_set)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [89]:
movies_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [90]:
movies_set.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [91]:
# Combina los DataFrames de calificaciones y detalles de películas en uno solo por 'movieId' de forma interna y muestra el resultado

ratings_movies_set = ratings_set.merge(movies_set, how='inner', on='movieId')
display(ratings_movies_set)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [97]:
# Luego, carga este subconjunto en un objeto `dataset` utilizando la biblioteca Surprise para su análisis posterior.

subset_ratings = ratings_set.sample(frac=1, random_state=42)  

train, test = train_test_split(subset_ratings, test_size=0.2, random_state=42)

reader = sp.Reader(rating_scale=(0, 5))
dataset = sp.Dataset.load_from_df(train[['userId', 'movieId', 'rating']], reader)

In [98]:
train

       userId  movieId  rating   timestamp
86035     559      329     3.0   845475849
19095     122   106782     5.0  1461561445
53209     352      924     4.0  1493931975
63374     414     3269     3.0   961514310
30415     212    81834     4.0  1490203271
...       ...      ...     ...         ...
99583     610      784     5.0  1479544723
91864     596     3000     5.0  1535708657
59035     385      500     3.0   834694199
25661     177    70159     2.5  1435838020
97176     605      943     3.0  1277175685

[80668 rows x 4 columns]

In [99]:
test

       userId  movieId  rating   timestamp
39920     274     4683     4.0  1172275751
31097     217     1259     3.0   955941925
27388     186     1376     5.0  1031079628
35836     243      356     4.0   837155178
12082      74     3273     2.5  1207499293
...       ...      ...     ...         ...
70695     452     1265     5.0  1013398330
69352     448     4477     1.0  1028111080
35238     237     7371     3.5  1410632372
46881     307      924     3.5  1186084299
10529      68     1042     2.5  1158535373

[20168 rows x 4 columns]

In [100]:
# Definir la cuadrícula de hiperparámetros para GridSearchCV
knn_params_grid = {
    'min_k': [2],
    'k': [10, 30, 40, 50],
    'verbose': [False],
    'sim_options': {
        'name': ['pearson', 'cosine'],
        'min_support': [10, 15, 20],
        'user_based': [True]
    }
}

# Realizar la búsqueda de cuadrícula utilizando GridSearchCV
gs = sp.model_selection.GridSearchCV(
    algo_class=sp.KNNBasic, 
    param_grid=knn_params_grid,
    measures=['rmse'],
    cv=5,  # utilizando 5-fold cross-validation
    n_jobs=-1
)

gs.fit(dataset)
print("Mejor rmse score:", gs.best_score['rmse']) # Imprimir la mejor puntuación RMSE
print("Mejor parametros: ", gs.best_params['rmse']) # Imprimir los mejores parámetros

# Asignar el algoritmo KNN con la mejor precisión para su uso posterior
knn = gs.best_estimator['rmse']

# Ejecutar validación cruzada para evaluar el modelo
cv_results = sp.model_selection.cross_validate(knn, dataset, measures=['rmse'], cv=5, verbose=False, n_jobs=-1)

# Imprimir resultados de validación cruzada
print("RMSE promedio en validación cruzada:", cv_results['test_rmse'].mean())

Mejor rmse score: 0.9822528371900043
Mejor parametros:  {'min_k': 2, 'k': 30, 'verbose': False, 'sim_options': {'name': 'cosine', 'min_support': 10, 'user_based': True}}
RMSE promedio en validación cruzada: 0.9815371519009946

In [101]:
# Entrenar el modelo K-Nearest Neighbors (KNN) utilizando el conjunto completo de entrenamiento.
ds=dataset.build_full_trainset()
knn.fit(ds)

In [81]:
ds.to_inner_iid('87346')

ValueError: Item 87346 is not part of the trainset.

In [102]:
test

       userId  movieId  rating   timestamp
39920     274     4683     4.0  1172275751
31097     217     1259     3.0   955941925
27388     186     1376     5.0  1031079628
35836     243      356     4.0   837155178
12082      74     3273     2.5  1207499293
...       ...      ...     ...         ...
70695     452     1265     5.0  1013398330
69352     448     4477     1.0  1028111080
35238     237     7371     3.5  1410632372
46881     307      924     3.5  1186084299
10529      68     1042     2.5  1158535373

[20168 rows x 4 columns]

In [103]:
predictions=knn.predict(uid=11, iid=293)
predictions

Prediction(uid=11, iid=293, r_ui=None, est=4.033405926280354, details={'actual_k': 30, 'was_impossible': False})

In [104]:
def predict_ratings(algo, user_id, movie_id):
    # Verificar si el usuario ya calificó la película
    check = ratings_movies_set.query(f"userId == {user_id} and movieId == {movie_id}")
    if not check.empty:
        print(f"Usuario {user_id} ya calificó {movie_id}")
        display(check)  # Mostrar detalles de la calificación existente
    else:
        # Mostrar calificaciones del usuario y la película
        display(f"Calificaciones de usuario {user_id}:", ratings_movies_set[ratings_movies_set['userId'] == user_id])
        display(f"Calificaciones de película {movie_id}:", ratings_movies_set[ratings_movies_set['movieId'] == movie_id])
        
        # Estimar calificación utilizando el modelo
        predict = algo.predict(uid=user_id, iid=movie_id)
        print(f"Estimación para usuario {user_id} y película {movie_id}: ", predict.est)  # Mostrar estimación
        print("Detalles:", predict)  # Mostrar detalles

In [53]:
import matplotlib.pyplot as plt

calificacion_real = predict_ratings(knn, predict, 239).  # Calificación real

# Generar una lista de calificaciones predichas
calificaciones_predichas = []

for test_user_id in test['userId'].unique():
    pred = predict_ratings(knn, test_user_id, movie_id)
    calificaciones_predichas.append(pred)

# Crear un gráfico de dispersión
plt.figure(figsize=(8, 6))
plt.scatter(calificaciones_reales, calificaciones_predichas, alpha=0.5)
plt.title('Predicción Real vs. Predicción')
plt.xlabel('Calificaciones Reales')
plt.ylabel('Calificaciones Predichas')
plt.grid(True)

# Agregar una línea de referencia diagonal para comparación perfecta
plt.plot([min(calificaciones_reales), max(calificaciones_reales)], [min(calificaciones_reales), max(calificaciones_reales)], linestyle='--', color='red')

# Mostrar el gráfico
plt.show()

SyntaxError: invalid syntax (4227750097.py, line 3)

In [105]:
# Realizar una predicción de calificación para el usuario 11 y la película 293 utilizando el modelo KNN.
predict_ratings(knn, 11, 293)

'Calificaciones de usuario 11:'

,userId,movieId,rating,timestamp,title,genres
269,11,6,5.0,902154266,Heat (1995),Action|Crime|Thriller
858,11,110,5.0,902154266,Braveheart (1995),Action|Drama|War
2319,11,349,5.0,902154342,Clear and Present Danger (1994),Action|Crime|Drama|Thriller
2431,11,356,5.0,901200263,Forrest Gump (1994),Comedy|Drama|Romance|War
3003,11,457,5.0,902154316,"Fugitive, The (1993)",Thriller
...,...,...,...,...,...,...
44047,11,1840,4.0,901200111,He Got Game (1998),Drama
44054,11,1882,2.0,901200143,Godzilla (1998),Action|Sci-Fi|Thriller
44087,11,1918,4.0,901200070,Lethal Weapon 4 (1998),Action|Comedy|Crime|Thriller
44120,11,2002,2.0,902154383,Lethal Weapon 3 (1992),Action|Comedy|Crime|Drama
44166,11,2027,3.0,904510428,Jane Austen's Mafia! (1998),Comedy|Crime

'Calificaciones de película 293:'

,userId,movieId,rating,timestamp,title,genres
30483,6,293,3.0,845553660,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30484,15,293,3.0,1510571962,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30485,16,293,4.0,1377477870,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30486,17,293,3.5,1307262308,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30487,18,293,4.5,1455050049,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
...,...,...,...,...,...,...
30611,603,293,2.0,954482255,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30612,604,293,3.0,832080193,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30613,606,293,4.5,1171387841,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30614,608,293,4.0,1117490629,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
30615,610,293,5.0,1479542783,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller

Estimación para usuario 11 y película 293:  4.033405926280354
Detalles: user: 11         item: 293        r_ui = None   est = 4.03   {'actual_k': 30, 'was_impossible': False}

In [106]:
# Realizar una predicción de calificación para el usuario 100 y la película 72998 utilizando el modelo KNN.
predict_ratings(knn, 100, 72998)

'Calificaciones de usuario 100:'

,userId,movieId,rating,timestamp,title,genres
227,100,3,3.5,1100183804,Grumpier Old Men (1995),Comedy|Romance
1277,100,223,3.5,1100185924,Clerks (1994),Comedy
1510,100,235,1.0,1100183797,Ed Wood (1994),Comedy|Drama
1868,100,296,3.5,1100184820,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2482,100,356,4.0,1100184829,Forrest Gump (1994),Comedy|Drama|Romance|War
...,...,...,...,...,...,...
87809,100,2262,4.0,1100186135,About Last Night... (1986),Comedy|Drama|Romance
87818,100,3244,4.0,1100184414,"Goodbye Girl, The (1977)",Comedy|Romance
87830,100,5380,4.5,1100184334,"Importance of Being Earnest, The (2002)",Comedy|Drama|Romance
87840,100,6183,4.5,1100184242,Pillow Talk (1959),Comedy|Musical|Romance
87843,100,6785,4.5,1100184338,Seven Brides for Seven Brothers (1954),Comedy|Musical|Romance|Western

'Calificaciones de película 72998:'

,userId,movieId,rating,timestamp,title,genres
42588,10,72998,2.5,1455356351,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42589,15,72998,3.0,1510572052,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42590,18,72998,4.0,1455749238,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42591,21,72998,4.0,1418847046,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42592,22,72998,3.5,1268726172,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
...,...,...,...,...,...,...
42680,599,72998,2.5,1498518529,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42681,601,72998,4.0,1513712155,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42682,605,72998,3.5,1277097079,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42683,606,72998,3.0,1368460014,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
42684,610,72998,4.5,1479544106,Avatar (2009),Action|Adventure|Sci-Fi|IMAX

Estimación para usuario 100 y película 72998:  3.884116538807556
Detalles: user: 100        item: 72998      r_ui = None   est = 3.88   {'actual_k': 30, 'was_impossible': False}

In [107]:
def get_top_n(predictions, n=10):
    # Mapear las predicciones a cada usuario.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Luego, ordenar las predicciones para cada usuario y obtener las n más altas.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [108]:
# Crear un conjunto de entrenamiento completo a partir del conjunto de datos
train_set = dataset.build_full_trainset()

# Crear un conjunto de prueba con todas las combinaciones que no están en el conjunto de entrenamiento
test_set = train_set.build_anti_testset()

# Entrenar el modelo KNN con el conjunto de entrenamiento
knn.fit(train_set)

# Realizar predicciones en el conjunto de prueba
predictions = knn.test(test_set)

# Obtener las mejores 10 recomendaciones para cada usuario
top_10 = get_top_n(predictions, n=10)

In [109]:
# Tomar 50 usuarios aleatorios junto con sus 10 mejores recomendaciones
sample_top_10 = random.sample(top_10.items(), 50)

# Inicializar un contador
counter = 0

# Iterar a través de los usuarios seleccionados aleatoriamente y sus recomendaciones
for uid, user_ratings in sample_top_10:
    counter += 1
    print(f"{counter}. Usuario {uid} - Top 10 recomendaciones:")
    for (iid, rating) in user_ratings:
        # Obtener el título de la película a partir del identificador de la película (iid)
        movie_title = movies_set[movies_set['movieId'] == iid].title.item()
        print(f"{movie_title} (id:{iid}), calificación: {rating}")
    print("\n")

1. Usuario 389 - Top 10 recomendaciones:
Lone Star (1996) (id:800), calificación: 5
Yojimbo (1961) (id:3030), calificación: 4.794700123253426
State and Main (2000) (id:4029), calificación: 4.753981270875222
You Can Count on Me (2000) (id:3983), calificación: 4.753981270875222
21 Jump Street (2012) (id:93510), calificación: 4.752110764157091
Spotlight (2015) (id:142488), calificación: 4.7482958969479885
Night at the Opera, A (1935) (id:7132), calificación: 4.748238440478175
True Grit (1969) (id:3494), calificación: 4.676481545484244
Whale Rider (2002) (id:6385), calificación: 4.665849599974959
Mr. Smith Goes to Washington (1939) (id:954), calificación: 4.633662339335712


2. Usuario 192 - Top 10 recomendaciones:
Love and Death (1975) (id:3814), calificación: 5
21 Jump Street (2012) (id:93510), calificación: 4.757087769475153
State and Main (2000) (id:4029), calificación: 4.745794557271373
Dawn of the Dead (1978) (id:7387), calificación: 4.745351241211925
Pale Rider (1985) (id:2401), calificación: 4.743770452329204
Spotlight (2015) (id:142488), calificación: 4.743328804123922
Wallace & Gromit: The Best of Aardman Animation (1996) (id:720), calificación: 4.703241285983071
Right Stuff, The (1983) (id:1231), calificación: 4.660351595555527
True Grit (1969) (id:3494), calificación: 4.6562875636431205
Star Wars: Episode IV - A New Hope (1977) (id:260), calificación: 4.55968518574003


3. Usuario 36 - Top 10 recomendaciones:
General, The (1926) (id:3022), calificación: 5
Raise the Red Lantern (Da hong deng long gao gao gua) (1991) (id:1280), calificación: 5
Trial, The (Procès, Le) (1962) (id:6460), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Wings of the Dove, The (1997) (id:1683), calificación: 5
Woman in the Dunes (Suna no onna) (1964) (id:3224), calificación: 5
Belle époque (1992) (id:6442), calificación: 4.999999999999999
Man Who Shot Liberty Valance, The (1962) (id:4406), calificación: 4.751552772604028
Nightcrawler (2014) (id:115569), calificación: 4.751217557954547
Jules and Jim (Jules et Jim) (1961) (id:2732), calificación: 4.750715273625521


4. Usuario 528 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Angels and Insects (1995) (id:85), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Wings of the Dove, The (1997) (id:1683), calificación: 4.999999999999999
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.831081365562584
The Boss Baby (2017) (id:168418), calificación: 4.768710903485978
Imposter, The (2012) (id:97866), calificación: 4.756163904920582
Louis C.K.: Live at the Beacon Theater (2011) (id:92535), calificación: 4.754668546164864
Lincoln (2012) (id:98154), calificación: 4.753590428401361


5. Usuario 259 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Love and Death (1975) (id:3814), calificación: 5
The Lego Movie (2014) (id:108932), calificación: 4.8348171384341185
Cyrano de Bergerac (1990) (id:1277), calificación: 4.829425467386979
The Artist (2011) (id:89904), calificación: 4.7556163562916325
Avengers: Infinity War - Part I (2018) (id:122912), calificación: 4.755006148329375
Day of the Doctor, The (2013) (id:106642), calificación: 4.755006148329375
Dear Zachary: A Letter to a Son About His Father (2008) (id:65188), calificación: 4.752083726202567
State and Main (2000) (id:4029), calificación: 4.751799075778169
Guys and Dolls (1955) (id:3549), calificación: 4.749454935442229


6. Usuario 258 - Top 10 recomendaciones:
Right Stuff, The (1983) (id:1231), calificación: 5
Band of Brothers (2001) (id:170705), calificación: 5
Deadpool 2 (2018) (id:187593), calificación: 5
Bridge on the River Kwai, The (1957) (id:1250), calificación: 4.999999999999999
Belle époque (1992) (id:6442), calificación: 4.999999999999999
Intouchables (2011) (id:92259), calificación: 4.838930859526401
Great Escape, The (1963) (id:1262), calificación: 4.830614268106341
The Pacific (2010) (id:126430), calificación: 4.756705233945967
Girl Who Played with Fire, The (Flickan som lekte med elden) (2009) (id:74510), calificación: 4.756470144642507
Girl Who Kicked the Hornet's Nest, The (Luftslottet som sprängdes) (2009) (id:73323), calificación: 4.756470144642507


7. Usuario 593 - Top 10 recomendaciones:
My Wife is an Actress (Ma Femme est une Actrice) (2001) (id:5466), calificación: 5
Afterglow (1997) (id:1733), calificación: 5
Beautiful Thing (1996) (id:1046), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Wings of the Dove, The (1997) (id:1683), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Belle époque (1992) (id:6442), calificación: 4.999999999999999
Love Me If You Dare (Jeux d'enfants) (2003) (id:9010), calificación: 4.999999999999999
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.875707077561593
Lincoln (2012) (id:98154), calificación: 4.834540690854872


8. Usuario 31 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
General, The (1926) (id:3022), calificación: 5
Wings of the Dove, The (1997) (id:1683), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 4.999999999999999
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.838604330347713
Man Who Shot Liberty Valance, The (1962) (id:4406), calificación: 4.752257491670232
Thor: Ragnarok (2017) (id:122916), calificación: 4.751376693640751
Dear Zachary: A Letter to a Son About His Father (2008) (id:65188), calificación: 4.750984500953074
Day of the Doctor, The (2013) (id:106642), calificación: 4.7482466072348375


9. Usuario 437 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Benji (1974) (id:3672), calificación: 5
Lesson Faust (1994) (id:1151), calificación: 5
Afterglow (1997) (id:1733), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Wings of the Dove, The (1997) (id:1683), calificación: 5
Heidi Fleiss: Hollywood Madam (1995) (id:99), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.875129560720309
Anne of Green Gables: The Sequel (a.k.a. Anne of Avonlea) (1987) (id:74282), calificación: 4.756597549225081


10. Usuario 547 - Top 10 recomendaciones:
Godfather, The (1972) (id:858), calificación: 5
Casablanca (1942) (id:912), calificación: 5
Graduate, The (1967) (id:1247), calificación: 5
Godfather: Part II, The (1974) (id:1221), calificación: 5
West Side Story (1961) (id:1947), calificación: 5
African Queen, The (1951) (id:969), calificación: 5
Psycho (1960) (id:1219), calificación: 4.749214447516472
Vertigo (1958) (id:903), calificación: 4.749214447516472
Citizen Kane (1941) (id:923), calificación: 4.749214447516472
My Fair Lady (1964) (id:914), calificación: 4.749214447516472


11. Usuario 500 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Raise the Red Lantern (Da hong deng long gao gao gua) (1991) (id:1280), calificación: 5
Angels and Insects (1995) (id:85), calificación: 5
Afterglow (1997) (id:1733), calificación: 5
Beautiful Thing (1996) (id:1046), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Wings of the Dove, The (1997) (id:1683), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.834731361970248
In the Name of the Father (1993) (id:475), calificación: 4.799969004858772


12. Usuario 204 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Angels and Insects (1995) (id:85), calificación: 5
Lady Eve, The (1941) (id:2935), calificación: 5
Enter the Void (2009) (id:78836), calificación: 4.999999999999999
Cyrano de Bergerac (1990) (id:1277), calificación: 4.832636419673111
Louis C.K.: Live at the Beacon Theater (2011) (id:92535), calificación: 4.753051843002896
Man Who Shot Liberty Valance, The (1962) (id:4406), calificación: 4.751354398886657
What We Do in the Shadows (2014) (id:115122), calificación: 4.750604039459644
Bad Boy Bubby (1993) (id:26810), calificación: 4.75052575661962
Whiplash (2013) (id:166024), calificación: 4.750290961527083


13. Usuario 599 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Lamerica (1994) (id:53), calificación: 5
Lesson Faust (1994) (id:1151), calificación: 5
Afterglow (1997) (id:1733), calificación: 5
Tea with Mussolini (1999) (id:2436), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Heidi Fleiss: Hollywood Madam (1995) (id:99), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Room, The (2003) (id:74754), calificación: 4.999999999999999
Love Me If You Dare (Jeux d'enfants) (2003) (id:9010), calificación: 4.999999999999999


14. Usuario 81 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
General, The (1926) (id:3022), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Adam's Rib (1949) (id:7121), calificación: 4.999999999999999
Stranger Than Paradise (1984) (id:3925), calificación: 4.999999999999999
Suspiria (1977) (id:4437), calificación: 4.756071588627069
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.753743482457279
Day of the Doctor, The (2013) (id:106642), calificación: 4.744362539818496
Thor: Ragnarok (2017) (id:122916), calificación: 4.742683009148269
Dog Soldiers (2002) (id:5833), calificación: 4.666961412184713


15. Usuario 311 - Top 10 recomendaciones:
Yojimbo (1961) (id:3030), calificación: 5
Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001) (id:4973), calificación: 4.879252478360108
Pulp Fiction (1994) (id:296), calificación: 4.855770318604965
Much Ado About Nothing (1993) (id:497), calificación: 4.8358139065903325
Godfather, The (1972) (id:858), calificación: 4.8286965640838915
Night at the Opera, A (1935) (id:7132), calificación: 4.755190128705978
State and Main (2000) (id:4029), calificación: 4.747311225467243
You Can Count on Me (2000) (id:3983), calificación: 4.747311225467243
Mr. Smith Goes to Washington (1939) (id:954), calificación: 4.74580879031101
Matrix, The (1999) (id:2571), calificación: 4.711135703132895


16. Usuario 357 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Love Me If You Dare (Jeux d'enfants) (2003) (id:9010), calificación: 5
Afterglow (1997) (id:1733), calificación: 5
Beautiful Thing (1996) (id:1046), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Lesson Faust (1994) (id:1151), calificación: 4.999999999999999
Enter the Void (2009) (id:78836), calificación: 4.999999999999999
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.899140169382939
Lincoln (2012) (id:98154), calificación: 4.834624637827748
Bad Boy Bubby (1993) (id:26810), calificación: 4.829904659659083


17. Usuario 194 - Top 10 recomendaciones:
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) (id:1198), calificación: 5
Mad Max: Fury Road (2015) (id:122882), calificación: 5
Godfather, The (1972) (id:858), calificación: 5
American Graffiti (1973) (id:3363), calificación: 5
12 Angry Men (1957) (id:1203), calificación: 5
Zombieland (2009) (id:71535), calificación: 5
Psycho (1960) (id:1219), calificación: 4.8797873320108085
Star Wars: Episode IV - A New Hope (1977) (id:260), calificación: 4.8353368633813725
Star Wars: Episode V - The Empire Strikes Back (1980) (id:1196), calificación: 4.832141618863684
Spotlight (2015) (id:142488), calificación: 4.755103859651577


18. Usuario 529 - Top 10 recomendaciones:
Saving Private Ryan (1998) (id:2028), calificación: 5
Pulp Fiction (1994) (id:296), calificación: 4.834709846359141
Femme Nikita, La (Nikita) (1990) (id:1249), calificación: 4.755147632605112
Grand Day Out with Wallace and Gromit, A (1989) (id:1223), calificación: 4.755147632605112
Fight Club (1999) (id:2959), calificación: 4.755012840781845
My Neighbor Totoro (Tonari no Totoro) (1988) (id:5971), calificación: 4.751567043833519
Life Is Beautiful (La Vita è bella) (1997) (id:2324), calificación: 4.749929977700944
Lost in Translation (2003) (id:6711), calificación: 4.744852367394889
Star Wars: Episode IV - A New Hope (1977) (id:260), calificación: 4.699401371294574
Rushmore (1998) (id:2395), calificación: 4.67664891724436


19. Usuario 536 - Top 10 recomendaciones:
General, The (1926) (id:3022), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Belle époque (1992) (id:6442), calificación: 4.999999999999999
Love and Death (1975) (id:3814), calificación: 4.999999999999999
Raise the Red Lantern (Da hong deng long gao gao gua) (1991) (id:1280), calificación: 4.999999999999999
King and I, The (1956) (id:2565), calificación: 4.766363612271237
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.75822155710888
Bicycle Thieves (a.k.a. The Bicycle Thief) (a.k.a. The Bicycle Thieves) (Ladri di biciclette) (1948) (id:3089), calificación: 4.757496260547933
Spotlight (2015) (id:142488), calificación: 4.7507741968132
21 Jump Street (2012) (id:93510), calificación: 4.74791502960339


20. Usuario 95 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
My Wife is an Actress (Ma Femme est une Actrice) (2001) (id:5466), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.873748040177098
Lincoln (2012) (id:98154), calificación: 4.836394290588491
Dangerous Beauty (1998) (id:2563), calificación: 4.754512970713543
Planet Earth II (2016) (id:171011), calificación: 4.7516990884879435
The Pacific (2010) (id:126430), calificación: 4.75055620421137
Imposter, The (2012) (id:97866), calificación: 4.75054603758264


21. Usuario 443 - Top 10 recomendaciones:
Eat Drink Man Woman (Yin shi nan nu) (1994) (id:232), calificación: 5
Incendies (2010) (id:86781), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Belle époque (1992) (id:6442), calificación: 4.999999999999999
Baraka (1992) (id:3677), calificación: 4.753839338013039
Night on Earth (1991) (id:1279), calificación: 4.75226106856324
Guys and Dolls (1955) (id:3549), calificación: 4.751660539311106
Band of Brothers (2001) (id:170705), calificación: 4.751246926093265
Sherlock - A Study in Pink (2010) (id:185135), calificación: 4.750910499137864


22. Usuario 496 - Top 10 recomendaciones:
Intouchables (2011) (id:92259), calificación: 5
Much Ado About Nothing (1993) (id:497), calificación: 5
Band of Brothers (2001) (id:170705), calificación: 5
Dog Soldiers (2002) (id:5833), calificación: 4.999999999999999
Wallace & Gromit: The Best of Aardman Animation (1996) (id:720), calificación: 4.833560921996003
Grand Day Out with Wallace and Gromit, A (1989) (id:1223), calificación: 4.833560921996003
Star Wars: Episode V - The Empire Strikes Back (1980) (id:1196), calificación: 4.789078469016291
Amadeus (1984) (id:1225), calificación: 4.752296246019234
Star Wars: Episode VI - Return of the Jedi (1983) (id:1210), calificación: 4.752051482106838
Dawn of the Dead (1978) (id:7387), calificación: 4.750289460838827


23. Usuario 25 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Hustler, The (1961) (id:3468), calificación: 5
Yojimbo (1961) (id:3030), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Band of Brothers (2001) (id:170705), calificación: 4.80159753864737
Once Upon a Time in the West (C'era una volta il West) (1968) (id:1209), calificación: 4.752047721797268
The Pacific (2010) (id:126430), calificación: 4.7516779306752515
Sherlock - A Study in Pink (2010) (id:185135), calificación: 4.750671589768849
The Godfather Trilogy: 1972-1990 (1992) (id:172591), calificación: 4.750669955636603
Planet Earth II (2016) (id:171011), calificación: 4.749924608345594


24. Usuario 23 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Phantom of the Paradise (1974) (id:4789), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.8778859858994394
Man Who Shot Liberty Valance, The (1962) (id:4406), calificación: 4.8337832574424215
Lincoln (2012) (id:98154), calificación: 4.75607653133444
Meet Me in St. Louis (1944) (id:918), calificación: 4.756031944620376
It Happened One Night (1934) (id:905), calificación: 4.753727747497908
Dangerous Beauty (1998) (id:2563), calificación: 4.752007786279629


25. Usuario 154 - Top 10 recomendaciones:
Bridge on the River Kwai, The (1957) (id:1250), calificación: 5
Right Stuff, The (1983) (id:1231), calificación: 5
Band of Brothers (2001) (id:170705), calificación: 5
Once Upon a Time in the West (C'era una volta il West) (1968) (id:1209), calificación: 5
Great Escape, The (1963) (id:1262), calificación: 4.999999999999999
Outlaw Josey Wales, The (1976) (id:3508), calificación: 4.999999999999999
Dog Soldiers (2002) (id:5833), calificación: 4.999999999999999
Yojimbo (1961) (id:3030), calificación: 4.999999999999999
Enter the Void (2009) (id:78836), calificación: 4.999999999999999
Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966) (id:1201), calificación: 4.785830237916283


26. Usuario 7 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Afterglow (1997) (id:1733), calificación: 5
Beautiful Thing (1996) (id:1046), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.83676892822844
Lincoln (2012) (id:98154), calificación: 4.831217324830555
Dangerous Beauty (1998) (id:2563), calificación: 4.754754347266704
What We Do in the Shadows (2014) (id:115122), calificación: 4.753805935591343
Doctor Who: A Christmas Carol (2010) (id:147376), calificación: 4.753284614904752


27. Usuario 257 - Top 10 recomendaciones:
Shrek (2001) (id:4306), calificación: 5
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) (id:1198), calificación: 5
Godfather, The (1972) (id:858), calificación: 5
Princess Bride, The (1987) (id:1197), calificación: 5
Spider-Man 2 (2004) (id:8636), calificación: 5
Last of the Mohicans, The (1992) (id:1408), calificación: 5
Star Wars: Episode V - The Empire Strikes Back (1980) (id:1196), calificación: 4.8287411363875306
Pi (1998) (id:1921), calificación: 4.755324622345946
Psycho (1960) (id:1219), calificación: 4.7549374285754835
Casino Royale (2006) (id:49272), calificación: 4.75038735670783


28. Usuario 41 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Love Me If You Dare (Jeux d'enfants) (2003) (id:9010), calificación: 5
Beautiful Thing (1996) (id:1046), calificación: 5
Man Who Fell to Earth, The (1976) (id:6184), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
Afterglow (1997) (id:1733), calificación: 4.999999999999999
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.872805664532542
Lincoln (2012) (id:98154), calificación: 4.833449220640269
Bad Boy Bubby (1993) (id:26810), calificación: 4.829240639057772
Anne of Green Gables: The Sequel (a.k.a. Anne of Avonlea) (1987) (id:74282), calificación: 4.768414345236643


29. Usuario 313 - Top 10 recomendaciones:
Belle époque (1992) (id:6442), calificación: 5
Lesson Faust (1994) (id:1151), calificación: 5
Beautiful Thing (1996) (id:1046), calificación: 5
Enter the Void (2009) (id:78836), calificación: 5
My Wife is an Actress (Ma Femme est une Actrice) (2001) (id:5466), calificación: 4.999999999999999
Afterglow (1997) (id:1733), calificación: 4.999999999999999
Man Who Fell to Earth, The (1976) (id:6184), calificación: 4.999999999999999
Trial, The (Procès, Le) (1962) (id:6460), calificación: 4.899771208027579
Bad Boy Bubby (1993) (id:26810), calificación: 4.838216553797099

C:\Users\JDEV\AppData\Local\Temp\ipykernel_5036\500994319.py:2: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  sample_top_10 = random.sample(top_10.items(), 50)